{% extends 'yinka/base.html' %}
{% load static %}

{% block content %}

      <!--::breadcrumb part end::-->
      <section class="breadcrumb blog_bg">
         <div class="container">
            <div class="row">
               <div class="col-lg-12">
                     <div class="breadcrumb_iner">
                        <div class="breadcrumb_iner_item">
                           <h2>About Us</h2>
                        </div>
                     </div>
               </div>
            </div>
         </div>
      </section>
      <!--::breadcrumb part end::-->
      <section class="team_part">
         <div class="container">
            <div class="row">
               <div class="col-lg-6">
                  <div class="team_img"></div>
               </div>
               <div class="offset-lg-1 col-lg-5">
                  <div class="team_member_text">
                     <h2>The Team That Cares</h2>
                     <p>
                        Yinka Kayode & Co. is a firm of Estate Surveyors and Valuers established 
                        and registered by the Estate Surveyors and Valuers Registration Board of 
                        Nigeria (ESVARBON) to practice the profession of real estate surveying and 
                        valuation throughout the Federal Republic of Nigeria.
                        ESVARBON, which was founded by Decree No. 24 of 1975 and by virtue of CAP 111, 
                        Laws of Federal Republic of Nigeria, 1990 is empowered to register individuals 
                        and firms to be recognized as Estate surveyors and Valuers in Nigeria.

                        Yinka Kayode & Co. is also registered with the Financial Reporting Council of Nigeria with Registration number FRC/2013/00000000001197.

                     </p>
                     <p>
                        Yinka Kayode and Co. is a group of qualified, young, experienced and professional 
                        Estate Surveyors and Valuers, tested and proven, led by a management team whose 
                        resumes reflect nothing short of a wealth of experience in all facets of real 
                        estate surveying and valuation practice with strong institutional memory of over 
                        50years.
                     </p>
                     <p>
                        Real Estate Agency involving letting, leasing, sale and purchase of landed properties 
                        for and on behalf of clients. Project appraisal, which entails carrying out feasibility 
                        and viability study/report to determine practicability and profitability or otherwise of 
                        proposed projects.
                     </p> 
                     <p>
                        Project management, which involves administration of real estate development projects and co-ordination of relevant consultants from conception to ensure its successful realisation within reasonable time and cost limits, without jeopardy to quality workmanship.
                        General real estate consultancy including; advice on highest and best use of land resources
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!--::team part end::-->
      
   
      <!--::passion_part end::-->
      <div class="passion_part z_index">
         <div class="container">
            <div class="row">
               <div class="col-lg-5">
                  <div class="section_tittle">
                     <h1>....a little more</h1>
                  </div>
               </div>
            </div>
            <div class="row">
            <div class="col-md-6 col-lg-7">
               <div class="single_passion">
                  <div class="single_passion_item">
                     <a href="#" class="passion_icon"> <i class="flaticon-desk"></i> </a>                  
                     <h4>Business Objectives</h4>
                     <p>
                        • To meet the needs of our clients through the provision of an excellent range of real estate products and services. <br>
                        • To build a brand that will be an epitome of Performance, Service and Trust. <br>
                        • To be one of the best in terms of qualitative service delivery in the industry. <br>
                        • To meet the expectations and build up the capabilities of our staff, on whose skills, the future of our firm will depend. <br>
                        • To achieve the objectives of our clients, which are safe decision making and optimum returns. <br>
                     </p> <br>
                     <p>
                        Our strength is the experience of our team and product of continuous support and patronage we have been enjoying from 
                        similar corporate organisation and notable individuals.
                     </p>
                  </div>
               </div>
            </div>
            <!-- <div class="col-md-6 col-lg-4">
               <div class="single_passion">
                  <div class="single_passion_item">
                     <a href="#" class="passion_icon"> <i class="flaticon-bathroom"></i> </a>                  
                     <h4>Product Research</h4>
                     <p>Hac facilisi ac vitae consec tetu commod vel magna suspen disse on senectus
                        pharetra magnfauc bed</p>
                     <a href="#" class="btn_2">Read More <span class="ti-arrow-right"></span></a>
                  </div>
               </div>
            </div> -->
            <div class="col-md-6 col-lg-5">
               <div class="single_passion">
                  <div class="single_passion_item">
                     <a href="#" class="passion_icon"> <i class="flaticon-beach"></i> </a>
                     <h4>Value Proposition</h4>
                     <p>
                        Yinka Kayode and company’s value proposition is a combined offering of: <br>
                        <strong>• Service:-</strong>  Our ability to offer and deliver a first-class service to our clients. <br>
                        <strong>• Capability:-</strong> Our capability will stem from the knowledge and skills of our staff. <br>
                        <strong>• Trust:-</strong> Integrity of our firm and our members of staff will be established and maintained. <br>
                        <strong>• Value:-</strong> Value for service through our expertise and professional competence. <br>
                        <strong>• Profitability:-</strong> Achieving clients’ satisfaction through client focused services. <br>
                     </p>
                  </div>
               </div>
            </div>
            </div>
         </div>
      </div>
      <!--::passion_part end::-->
   

{% endblock %}